*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#card_main_div{
    width: 100%;
    clear: both;
    background-color:#03e6fd;
}
.border_box_bg{
    position:relative;
    width:270px;
    min-height: 350px;
    max-height: 400px;
    clear: both;
    overflow: hidden;
    background:#070c09 !important;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    border: 3px solid rgba(0, 0, 0, .5);

}

/*responsive start*/
@media (min-width: 175.98px) and (max-width: 1150px) { 
    .border_box_bg{
        text-align: center;
        margin: auto;
    }
 }

@media (min-width: 992px) and (max-width: 1150px) { 

    .border_box_bg{
    position:relative;
    width:228px !important;
    min-height: 350px;
    max-height: 400px;
    clear: both;
    overflow: hidden;
    background:#070c09 !important;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    border: 3px solid rgba(0, 0, 0, .5);

   

    }
}
/*responsive End */
   


.card-body{
    border:2px solid #f3db09;
    margin:15px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}


.card-title{
    color:#fff;
    font-size: 30px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;

}

.card-text{
    color:#fff;
    text-align: justify;
    padding-bottom: 50px;

}

.border_box_bg:before{
    content:'';
    position:absolute;
    top:0;
    left:-100%; /* ai a o kore dili hover ta right theke suru hobe */
    width:100%;
    height:100%;
    background: rgba(255,255,255,.1);
    transition: 0.5s;
    pointer-events:none;

}

.border_box_bg:hover:before{
    left:-50%;
    transform:skewX(-5deg);
}

/* border ractangle */
.border_box_bg svg,
.border_box_bg svg rect{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    fill:transparent;
    
}
.border_box_bg svg rect{
    stroke:#018eff; /* for outline border retating color */
    stroke-width:4;
    stroke-dasharray:200;
    animation:animetee 3s linear infinite;
    
}

@keyframes animetee{
    
    0%
    {
        stroke-dashoffset:900;
        
    }
    
      100%
    {
        stroke-dashoffset:0;
        
    }



}


/*button start*/

.card-body a{
    width: 120px;
    height: 60px;
    padding: 10px 25px;
    border-radius: 25px;
    color:white;
    font-family: ui-monospace;
    text-shadow: 2px 2px 4px black;
    border:2px solid white;
    position: relative;
    z-index: 1;



}
.card-body a:hover{
    color:black;

}

.card-body a::after {
    content: "";
    position: absolute;
    left: 0px;
    top:0px;
    width: 0%;
    height: 100%;
    background-color: #06e6ff;
    border-radius: 25px;
    z-index:-1;
    transition: 0.3s;

}

.card-body a:hover:after{
     width: 100%;
     transition: 0.7s;
   
     

}
